apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: image-loader
  namespace: default
  labels:
    app: images
spec:
  selector:
    matchLabels:
      app: images
  template:
    metadata:
      labels:
        app: images
    spec:
      containers:
      - name: image-loader
        image: tarunpothulapati/image-loader
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        - containerPort: 80
        securityContext:
          privileged: true
        volumeMounts:
        - name: host-run
          mountPath: /var/run/docker.sock
          readOnly: true
      volumes:
      - name: host-run
        hostPath:
          path: /var/run/docker.sock
      hostNetwork: true
      hostPID: true
      restartPolicy: Always